body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #cfcfcf;
    text-align: center;
}
h1{
    font-size: 590%;
}
h2{
    font-size: 300%;
}
header {
    background-color: #919191;
    color: white;
    text-align: center;
    padding: 20px 0;
}
.button-container {
    text-align: center;
    margin-top: 20px;
}

/* Estilos dos botões */
button {
    background-color: #303030;
    color: white;
    border: none;
    padding: 15px 30px;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    background-color: #000000;
}

#submit{
    background-color: #585858;
    padding: 8px 10px;
}

label{
   font-size: 20px; 
   font-weight: 500;
   font-family: Arial, Helvetica, sans-serif;
}